body {
  background-color: black;
}
.gora {
  width: 33%;
  display: flex;
  float: left;
  justify-content: center;
}
.srodek {
  width: 33%;
  display: flex;
  float: left;
  justify-content: center;
}

.dol {
  width: 33%;
  display: flex;
  float: left;
  justify-content: center;
}
.button {
  width: 100%;
  height: 10em;
  justify-content: center;
  cursor: pointer;
  background-color: gray;
  border: 2px solid black;
  border-radius: 5px;
}
.button:hover {
  background-color: darkgray;
}
#Reset {
  width: 16em;
  height: 6em;
}
.xro {
  font-size: 2em;
  color: white;
}
